body {
    margin: 60px auto;
    width: 70%;
}

nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}

nav ul li, footer ul li {
    display: inline;
    color: #FFF;
    margin: 10px 10px;
    padding: 14px;
    text-transform: uppercase;
    text-decoration: none;
}

li {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
    text-align: left;
    padding-bottom: 60px;
}

a {
    text-decoration: none;
    color: #999;
}

a:hover {
    text-decoration: underline;
    background: #FFF;
    animation: ease;
}

.header {
    background-image: url("https://ladiositelu.github.io/ladi-ositelu.jpg");
    border: 1px solid black;
    border-radius: 15px;
    height: 400px;
    width: 300px;
    background-position: left;
}

h1 {
    font-size: 2.5em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding-top: 60px;
    padding-bottom: 20px;
    text-align:center;
}

h2 {
    font-size: 1.8em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding-top: 20px;
    padding-bottom: 20px;
    text-align:center;
}

p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
    text-align: left;
    padding-bottom: 60px;
}

footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
