<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/About">About</a></li>
	        		<li><a href="/Experience">Experience</a></li>
				<li><a href="/ladiositelu.github.io/Resume/Ladi's Resume.pdf" target="_blank">Resume</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
				<li><a href="https://www.linkedin.com/in/ladiositelu/">linkedin</a></li>
	        		<li><a href="mailto:oladipoositelu@gmail.com">email</a></li>
	        		<li><a href="https://github.com/ladiositelu">github.com/ladiositelu</a></li>
				</ul>
			</footer>
		</body>
	</html>
